{% load static %}
<!-- ##### Footer Area Start ##### -->

<footer class="container-fluid mt-5 p-4 bg-light">
    <div class="container ">
        <div class="row pb-1">
            <!-- Footer logo -->
            <div class="col-lg-3 col-md-12"><img width="200px" src="{% static 'images/logo.png' %}" alt="site logo">
            </div>

            <!-- footer links -->
            <div class="col-lg-6 col-md-12">
                <!-- <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Blog" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Category"
                            href="#">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Contact"
                            href="#">Contact</a>
                    </li>
                </ul> -->
            </div>

            <!-- footer social links -->
            <div class="col-lg-3 col-md-12 footer-area">
                <div class="footer-social-area">
                    <a href="https://linkedin.com/in/abinandhmj" target="_blank" data-toggle="tooltip"
                        data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/mcnandh" target="_blank" data-toggle="tooltip"
                        data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/AbinandhMJ" target="_blank" data-toggle="tooltip"
                        data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/iammcnandh" target="_blank" data-toggle="tooltip"
                        data-placement="bottom" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="mailto:abinandhmurukesan@gmail.com" target="_blank" data-toggle="tooltip"
                        data-placement="bottom" title="Mail"><i class="fa fa-envelope  " aria-hidden="true"></i></a>

                </div>

            </div>

            <hr>
        </div>
        <hr>

        <!-- copyright text -->
        <div class="row pt-2">
            <div class="col-lg-12 text-center">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed by <a
                    href="https://abinandhmj.netlify.app/" target="_blank">Ab<span class="credits">!</span>nandh
                    MJ</a>
            </div>
        </div>
    </div>
</footer>

<!-- ##### Footer Area End ##### -->