{% extends "base/base.html" %}
{% block title %} Homepage {% endblock %}
{% block template %}
{% load static %}

<div class="blog-wrapper section-padding-100 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-area clearfix mb-100">
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Developer's Corner</a>
                        <h4><a href="#" class="post-headline">Welcome to DevDiaries - Your Space for Tech Tales</a></h4>
                        <p>Join our community of developers and tech enthusiasts at DevDiaries. Share your insights,
                            experiences, and knowledge with fellow developers. Whether you're a seasoned coder or a
                            newcomer to the tech world, DevDiaries is the place to express yourself and connect with
                            like-minded individuals.</p>
                        <a href="#" class="btn original-btn">Get Started</a>
                    </div>
                </div>
            </div>
            <!-- intro post -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <img src="{% static 'img/blog-img/1.jpg' %}" alt="">
                    <div class="catagory-title">
                        <a href="#">Lifestyle posts</a>
                    </div>
                </div>
            </div>
            {% for post in latest_posts %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <a href="{% url 'post-detail' slug=post.slug %}">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a href="#">{{ post.title }}</a>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <!-- Latest 10 Posts -->
                {% for post in latest_posts %}
                <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.6s"
                    data-wow-duration="1000ms">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <a href="{% url 'post-detail' slug=post.slug %}">
                                <div class="single-blog-thumbnail">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                    <div class="post-date">
                                        <a href="#">{{ post.created_at|date:"d" }} <span>{{ post.created_at|date:"F"
                                                }}</span></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Blog Content -->
                            <div class="single-blog-content">
                                <div class="line"></div>
                                {% for category in post.categories.all %}
                                <a href="#" class="post-tag">{{ category.name }}</a>
                                {% endfor %}
                                <h4><a href="#" class="post-headline">{{ post.title }}</a></h4>
                                <p>{{ post.content|truncatechars_html:400 }}</p>
                                <div class="post-meta">
                                    <p>By <a href="#">{{ post.author }}</a></p>
                                    <p>{{ post.comments.count }} comments</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Load More -->
                <div class="load-more-btn mt-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">
                    <a href="#" class="btn original-btn">Read More</a>
                </div>
            </div>

            {% include "./components/sidebar.html" %}
        </div>
    </div>

    {% endblock %}