{% load static %}
<!-- ##### Sidebar Area ##### -->
<aside class="col-lg-4 @@sidebar">
    <!-- Search -->
    <div class="widget">
        <h4 class="widget-title"><span>Search</span></h4>
        <form action="#!" class="widget-search">
            <input class="mb-3" id="search-query" name="s" type="search" placeholder="Type &amp; Hit Enter...">
            <i class="ti-search"></i>
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </form>
    </div>

    <!-- about me -->
    <div class="widget widget-about">
        <h4 class="widget-title">Hi, I am Abinandh!</h4>
        <img class="img-fluid" src="{% static 'images/developer.png' %}" alt="Developer Headshot">.
        <p>I'm a Freelance Web Developer with some everlasting craze in developing and learning more new stuffs. To know
            more about me dive into my Portfolio by clicking the button below!</p>
        <ul class="list-inline social-icons mb-3">

            <li class="list-inline-item"><a href="https://www.facebook.com/people/Mc-Nandh/100064316911674/?ref=py_c"
                    target="_blank"><i class="ti-facebook"></i></a></li>

            <li class="list-inline-item"><a href="https://twitter.com/AbinandhMJ" target="_blank"><i
                        class="ti-twitter-alt"></i></a></li>

            <li class="list-inline-item"><a href="https://www.linkedin.com/in/abinandhmj/" target="_blank"><i
                        class="ti-linkedin"></i></a></li>

            <li class="list-inline-item"><a href="https://github.com/AbinandhMJ" target="_blank"><i
                        class="ti-github"></i></a></li>

            <li class="list-inline-item"><a href="mailto:abinandhmurukesan@gmail.com" target="_blank"><i
                        class="ti-email"></i></a></li>

        </ul>
        <a href="https://abinandhmj.netlify.app/" target="_blank" class="btn btn-primary mb-2">About me</a>
    </div>

    <!-- Promotion -->
    <div class="promotion">
        <img src="{% static 'images/developerscorner.jpg' %}" class="img-fluid w-100">
        <div class="promotion-content">
            <h5 class="text-white mb-3">Developer's Corner!</h5>
            <p class="text-white mb-4">Join our community of developers and tech enthusiasts at DevDiaries. Share your
                insights,
                experiences, and knowledge with fellow developers. Whether you're a seasoned coder or a
                newcomer to the tech world, DevDiaries is the place to express yourself and connect with
                like-minded individuals.</p>
            <a href="#" class="btn btn-primary">Get Started</a>
        </div>
    </div>

    <!-- authors -->
    <div class="widget widget-author">
        <h4 class="widget-title">Authors</h4>
        <div class="media align-items-center">
            <div class="mr-3">
                <img class="widget-author-image" src="images/john-doe.jpg">
            </div>
            <div class="media-body">
                <h5 class="mb-1"><a class="post-title" href="author-single.html">Charls Xaviar</a></h5>
                <span>Author &amp; developer of Bexer, Biztrox theme</span>
                <small><a href="#" class="follow">Follow</a></small>
            </div>
        </div>
        <div class="media align-items-center">
            <div class="mr-3">
                <img class="widget-author-image" src="images/kate-stone.jpg">
            </div>
            <div class="media-body">
                <h5 class="mb-1"><a class="post-title" href="author-single.html">Kate Stone</a></h5>
                <span>Author &amp; developer of Bexer, Biztrox theme</span>
                <small><a href="#" class="follow">Follow</a></small>
            </div>
        </div>
        <div class="media align-items-center">
            <div class="mr-3">
                <img class="widget-author-image" src="images/john-doe.jpg" alt="John Doe">
            </div>
            <div class="media-body">
                <h5 class="mb-1"><a class="post-title" href="author-single.html">John Doe</a></h5>
                <span>Author &amp; developer of Bexer, Biztrox theme</span>
                <small><a href="#" class="follow">Follow</a></small>
            </div>
        </div>
    </div>
    <!-- Search -->

    <div class="widget">
        <h4 class="widget-title"><span>Never Miss A News</span></h4>
        <form action="#!" method="post" name="mc-embedded-subscribe-form" target="_blank" class="widget-search">
            <input class="mb-3" id="search-query" name="s" type="search" placeholder="Your Email Address">
            <i class="ti-email"></i>
            <button type="submit" class="btn btn-primary btn-block" name="subscribe">Subscribe now</button>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_463ee871f45d2d93748e77cad_a0a2c6d074" tabindex="-1">
            </div>
        </form>
    </div>

    <!-- categories -->
    <div class="widget widget-categories">
        <h4 class="widget-title"><span>Categories</span></h4>
        <ul class="list-unstyled widget-list" id="limitedCategories">
            {% for category in categories %}
            <li><a href="{% url 'category_detail' category_name=category.name %}" class="d-flex">{{ category.name }}
                    <small class="ml-auto">({{ category.posts.count }})</small></a></li>
            {% endfor %}
        </ul>
        <a href="#" id="viewAllCategories">View all</a> <!-- Link to toggle visibility of all categories -->
        <ul class="list-unstyled widget-list" id="allCategories" style="display: none;">
            {% for category in categories %}
            <li><a href="{% url 'category_detail' category_name=category.name %}" class="d-flex">{{ category.name }}
                    <small class="ml-auto">({{ category.posts.count }})</small></a></li>
            {% endfor %}
        </ul>


    </div><!-- tags -->
    <div class="widget">
        <h4 class="widget-title"><span>Tags</span></h4>
        <ul class="list-inline widget-list-inline widget-card">
            {% for tag in tags %}
            <li class="list-inline-item"><a href="{% url 'tag_detail' tag_name=tag.name %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>

    </div><!-- recent post -->
    <div class="widget">
        <h4 class="widget-title">Recent Post</h4>

        {% for post in recent_posts %}
        <article class="widget-card">
            <div class="d-flex">
                <img class="card-img-sm" src="{{ post.image.url }}" alt="{{ post.title }}">
                <div class="ml-3">
                    <h5><a class="post-title" href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h5>
                    <ul class="card-meta list-inline mb-0">
                        <li class="list-inline-item mb-0">
                            <i class="ti-calendar"></i>{{ post.created_at|date:"d M, Y" }}
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>

    <!-- Social -->
    <div class="widget">
        <h4 class="widget-title"><span>Social Links</span></h4>

        <ul class="list-inline widget-social">

            <li class="list-inline-item"><a href="https://www.facebook.com/people/Mc-Nandh/100064316911674/?ref=py_c"
                    target="_blank"><i class="ti-facebook"></i></a></li>

            <li class="list-inline-item"><a href="https://twitter.com/AbinandhMJ" target="_blank"><i
                        class="ti-twitter-alt"></i></a></li>

            <li class="list-inline-item"><a href="https://www.linkedin.com/in/abinandhmj/" target="_blank"><i
                        class="ti-linkedin"></i></a></li>

            <li class="list-inline-item"><a href="https://github.com/AbinandhMJ" target="_blank"><i
                        class="ti-github"></i></a></li>

            <li class="list-inline-item"><a href="mailto:abinandhmurukesan@gmail.com" target="_blank"><i
                        class="ti-email"></i></a></li>

        </ul>
    </div>
</aside>
<!-- ##### Sidebar Area ##### -->